html{
    scroll-behavior: smooth;
}

body{
  text-align:center;
  background: linear-gradient( #E1BEE7 0%, #90CAF9 100%);
  background-repeat:no-repeat;
}
h1{
  text-shadow:2px 2px #F8BBD0;
}
#sec2{
  padding:20px;
  font-size:18;
  text-align:center;
}
img
{
  border-radius:50%;
  width:150px;
    height: 220px;
transition: transform .2s;
}
img:hover{
    transform: scale(0.5);
}
.Menu{
    list-style: none;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20px;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
.link{
  float: right;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 5px;
  font-family: 'Potta One', cursive;
  font-size: 20px;
}
.link:hover{
    background-color:#999999;
}
.Contacts a{
    color: blueviolet;
    text-shadow: none;
}
#Contacts{
    background-color: linear-gradient( #E1BEE7 0%, #90CAF9 100%);
}
.Contacts h3{
    display: inline;
}